.form {
    color: #282c34;
    height: 300px;
    width: 250px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd5c2;
    border-radius: 20px;
    box-shadow:  7px 7px 16px #edc6b4, 
             -7px -7px 16px #ffe4d0;
}
.form__title {
    margin: 0;
    margin-top: -20px;
    text-align: center;
}
.label {
    position: relative;
    height: 40px;
    width: 100%;
}
.label__text {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 50%;
}
.input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px rgb(226, 192, 177), 
                inset -5px -5px 10px #ffdbc8;
}
.form__btn {
    background-color: #ffd5c2;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    box-shadow:  5px 5px 7px #f5ccba, 
                -5px -5px 7px #ffdeca;
    
}