.WeatherWeekly {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom, #136a8a, #267871);
}

.WeatherWeekly > div {
    width: 100%;
    max-width: 600px;
}

.WeatherWeekly__item,
.description {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
}
.WeatherWeekly__item span,
.WeatherWeekly__item img {
    flex-basis: 25%;
}

.WeatherWeekly__item span:nth-last-child(1),
.WeatherWeekly__item span:nth-last-child(2) {
    text-align: end;
}

.description {
    font-size: 15px;
    border-bottom: 1px solid #ffffff;
}