.WeatherWeekly {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom, #136a8a, #267871);
}