.Weather {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
}

.Weather h1 {
    color: #ffffff;
}

.WeatherWrapper {
    max-width: 600px;
}