
.GetWeather {
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
}

.GetWeather h1 {
    color: #fff;
    text-align: center;
}

.SearchForm {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}