.WeatherToday {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(to bottom, #0b486b, #f56217);
}

.WeatherToday > div {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.WeatherToday > div > div {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.current {
    font-size: 150px;
    font-weight: 300;
}

.MaxMin {
    font-size: 35px;
}

.city {
    font-size: 50px;
}

.date {
    font-size: 25px;
}

.condition {
    font-size: 40px;
}

.conditionIcon {
    height: 100px;
    width: 100px;
}

.realFeels {
    font-size: 30px;
}