.current {
    font-size: 120px;
    font-weight: 300;
}

.MaxMin {
    font-size: 35px;
}

.city {
    font-size: 50px;
}

.date {
    font-size: 35px;
}

.condition {
    font-size: 40px;
}

.conditionIcon {
    height: 100px;
    width: 100px;
}

.realFeels {
    font-size: 30px;
}