.weather-item {
    color: #282c34;
    height: 300px;
    width: 250px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd5c2;
    border-radius: 20px;
    box-shadow:  7px 7px 16px #edc6b4, 
             -7px -7px 16px #ffe4d0;
}