body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd5c2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 *::before,
 *::after {
   content: "";
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 h1 {
  margin: 0;
  padding: 0;
 }